Package: com.yourcompany.welcomewagon
Name: WelcomeWagon
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Brandon Trebitowski
Author: Brandon Trebitowski
Section: Tweaks
